<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!--<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="http://bootswatch.com/darkly/bootstrap.min.css" rel="stylesheet">
    <style>
        .video-link{
            cursor: pointer;
        }
        .rtl {
            direction: RTL;
        }
    </style>
</head>
<body ng-app="al">
    <div ng-controller="FeedController as feed" class="container" >

        <header class="row">
            <div class="page-header">
                <h1>Associative Looseness
                    <span class="glyphicon glyphicon-music pull-right"></span>
                </h1>
            </div>
        </header>

        <img src="img/ajax-loader.gif" ng-show="feed.status.loading">
        <!--<button class="button" ng-click="feed.clearToken()">Clear</button>-->
        <table class="table table-striped table-bordered" ng-hide="feed.status.loading">
            <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Name</th>
                <th>Message</th>
                <th>Video</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat-start="post in feed.data" >
                <td>{{$index}}</td>
                <td>{{post.created_time | date}}</td>
                <td>{{post.from.name}}</td>
                <td class="rtl">{{post.message}}</td>
                <td><img ng-src="{{post.picture}}" ng-if="post.source | youtubeFilter" class="video-link" ng-click="post.show=!post.show"></td>
            </tr>
            <tr ng-repeat-end ng-if="post.show">
                <td colspan="5"  class="text-center">
                    <iframe ng-src="{{post.source | youtubeFilter}}"
                            frameborder="0" allowfullscreen width="560" height="315"></iframe>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
<script src="bower_components/angular/angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>