<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Associative Looseness</title>
    <!--<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="http://bootswatch.com/cyborg/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <style>

        .video-link{
            cursor: pointer;
        }
        .rtl {
            direction: RTL;
        }
        .center{
            margin: 200px auto;
            display: block;
        }
        .navbar-brand{
            font-family: 'Oswald', sans-serif;
        }

        .innerLoader{
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
        }

    </style>
</head>
<body ng-app="al" ng-controller="MainController">

    <div ng-controller="FacebookController as fb">
        <nav class="navbar navbar-default">
            <div class="container">

                <div class="navbar-header">
                    <a href="#" class="navbar-brand" ng-click="fb.getGroupFeed(231120563712448,'Associative Looseness')">Associative Looseness</a>
                </div>

                <ul class="nav navbar-nav " ng-show="fb.user">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">More groups <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="group in fb.groups" ><a href="#" ng-click="fb.getGroupFeed(group.id,group.name)">{{group.name}}</a>
                        </ul>
                    </li>
                </ul>

               <p class="navbar-text navbar-right" ng-show="fb.user">{{fb.user.name}} <small>(<a href="#" class="navbar-link" ng-click="fb.logout()">Logout</a>)</small> | <ins>{{fb.groupName}}</ins></p>
               <p class="navbar-text navbar-right" ng-hide="fb.user"> <a href="#" class="navbar-link" ng-click="fb.login()"> Login</a></p>
            </div>
        </nav>
        
    </div>

    <div class="container"  ng-controller="FeedController as feed">

        <div class="center text-center"  ng-show="feed.status.loading">
            <h5>Logging in</h5>
            <img src="img/ajax-loader.gif" >
        </div>


        <!-- Feed table-->
        <p ng-hide="feed.data.length || feed.status.loading">This group does not like music.<p>
        <table class="table table-striped table-bordered table-hover" ng-hide="feed.status.loading" ng-cloak>
            <tbody empty-msg>
            <tr ng-repeat-start="post in feed.data"
                ng-if="post.source | youtubeFilter"
                ng-click="post.show=!post.show"
                class="video-link"
                >
                <td>
                    <small>{{post.created_time | date}}</small>
                    <p><strong>{{post.from.name}}</strong></p>

                </td>
                <td class="rtl hidden-xs" >{{post.message}}</td>
                <td class="text-center video-link">
                        <img ng-src="{{post.picture}}">
                        <h6>{{post.name}}</h6>
                </td>
            </tr>
            <tr ng-repeat-end ng-if="post.show">

                <td colspan="5" >
                     <img src="img/ajax-loader.gif" class="innerLoader">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe ng-src="{{post.source | youtubeFilter}}" class="embed-responsive-item"
                            frameborder="0" allowfullscreen ></iframe>
                </div>
                </td>
            </tr>
            </tbody>
        </table>
        <!-- End Feed Table-->

    </div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/js/dropdown.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-easyfb/angular-easyfb.min.js"></script>
<script src="app.js"></script>
</body>
</html>